
<%= form_for @program do |f| %>
	
	<p>
		<%= f.label "Isim" %><br />
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label "Kategori Seciniz" %><br/>
		<%= f.collection_select :category_id, Category.all, :id, :name, :include_blank => 'Kategori seciniz' %>
	</p>
	<p>
		<%= f.submit %>
	</p>

<% end %>