<h1>Program#index</h1>
<p>
	<%= link_to "New Program" , new_program_path %>
</p>

<table border="1" cellspacing="1" cellpadding="3">  
	<tr>
		<th>Id</th>
		<th>Isim</th>
		<th>Kategori</th>
		<th>Islemler</th>
	</tr>

	<%= @programs.each do |c| %>
		<tr>
			<td><%= c.id %></td>
			<td><%= c.name %></td>
			<td><%= c.category %></td>
			<td>
				<%= link_to "Detay" , program_path(c) %> - 
				<%= link_to "Duzenle" , edit_program_path(c) %>
			</td>
		</tr>
	<% end %>
</table>