<h3>Tum Programlar</h3>
<p>
	<%= link_to "New Program" , new_program_path %>
</p>

<table border="1" cellspacing="1" cellpadding="3">  
	<tr>
		<th>Id</th>
		<th>Isim</th>
		<th>Kategori</th>
		<th>Islemler</th>
	</tr>

	<% @programs.each do |program| %>
		<tr>
			<td><%= program.id %></td>
			<td><%= program.name %></td>
		    <td><% if  program.category.blank? ? "Kategori Seciniz" : program.category.name%> </td> <% end -%>
			<td>
				<%= link_to "Detay" , program_path(program) %> - 
				<%= link_to "Duzenle" , edit_program_path(program) %> -
				<%= link_to "Sil", program, method: :delete, data: {confirm: 'Emin misiniz?'}  %>
			</td>
		</tr>
	<% end %>
</table>