<h1>Episode#index</h1>
<p>Find me in app/views/episode/index.html.erb</p>


<p>
	<%= link_to "New Episode" , new_episode_path %>
</p>

<table border="1" cellspacing="1" cellpadding="3">  
	<tr>
		<th>Id</th>
		<th>Isim</th>
		<th>Video</th>

		<th>Islemler</th>
	</tr>

	<%= @episodes.each do |c| %>
		<tr>
			<td><%= c.id %></td>
			<td><%= c.name %></td>
			<td><%= c.video %></td>
			<td>
				<%= link_to "Detay" , episode_path(c) %> - 
				<%= link_to "Duzenle" , edit_episode_path(c) %>
			</td>
		</tr>
	<% end %>
</table>