<h3>Tum Kategoriler</h3>

<p>
	<%= link_to "New Category" , new_category_path %>
</p>

<table border="1" cellspacing="1" cellpadding="3">  
	<tr>
		<th>Id</th>
		<th>Isim</th>
		<th>Islemler</th>
	</tr>

	<% @categories.each do |category| %>
		<tr>
			<td><%= category.id %></td>
			<td><%= category.name %></td>
			<td>
				<%= link_to "Detay" , category_path(category) %> - 
				<%= link_to "Duzenle" , edit_category_path(category) %> - 
				<%= link_to "Sil", category, method: :delete, data: {confirm: 'Emin misiniz?'} %>
			</td>
		</tr>
	<% end %>
</table>